/* 
palette:
purple #661b8c
red #e27d60
orange #ffa600 */

body {
  font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
  font-size: 20px;
  line-height: 1.45;
  color: black;
  background: white;
}

.element-center {
    margin-left: auto;
    margin-right: auto;
}

.picture_row {
 
  width:100%;
  text-align: center;

  
}

.picture_row li{
    float:left; 
    display: inline;
    width:30%;
}

div.example {
	border: 5px solid #661b8c;
	border-radius: 7px
}

div.text {
	margin: 0 auto;
    max-width: 35em;
    padding: 2em 1em 5em;
    position: relative;
    overflow-wrap: break-word;
}
div.title-box{
	border: 5px solid gray;
	border-radius: 20px;
}
p.author {
	text-align: center;
}

div.heading{
  color:gray;
}

h3.part {
  color: gray;

}
div.sidenote{
  border: 5px solid steelBlue;
  border-radius: 25px;
  padding: 10px;
 
}
div.sidenote div.label {
  background-color: steelBlue;
  color: white;
  text-align: center;
}

h1.title {
  width: 600px;
  padding: 10px;
  color: #e27d60;
  
  margin: auto;
  text-align: center;
}

pre.text {
	text-align: center;
}

div.center{
	text-align: center;
}

h1.chapter{
    color: #e27d60; 
    /*text-align: center;*/
}
